footer.footer 
    .footer-copy 
        i.far.fa-copyright
        | 2025 bevel studio — style with comfort
    .footer-social 
        i.fab.fa-instagram
        i.fab.fa-x-twitter
        i.fab.fa-pinterest
        i.far.fa-envelope