extends base

block content
    h1 Oops! Something went wrong.
    p The page you are looking for might have been removed, had its name changed, or is temporarily unavailable.
    a.btn-primary(href="/") Go back to Home